@font-face {
  font-family: 'Close and Open';
  src: url('/fonts/CloseAndOpen-rX78.ttf')
}

// add inter font from google fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  color-scheme: black;
}

body {
  min-height: 100vh;
  background: black;
  color: white;
  font-family: 'Inter', sans-serif;
}
