@font-face {
  font-family: 'Close and Open';
  src: url('/fonts/CloseAndOpen-rX78.ttf');
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font: inherit;
}

html {
  color-scheme: black;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background: black;
  color: white;
  font-family: system-ui;
}

section {
  padding: 5rem;
  backdrop-filter: blur(2px);
}

.anchor {
  position: relative;
  top: -8rem;
  visibility: hidden;
}
